* {
    font-family: "Roboto", sans-serif;
    margin: 0;  
    padding: 0;
}
.body-container {
    background-color: black;
    color: white;
    padding: 90px 0 0 130px;
}

.video-container{
    display: inline-block;
    width: 400px;
    margin: 0 15px 20`px 0;
    z-index: 0;
}
.video-thumbnail-container{
    position: relative;
}
.video-thumbnail {
    width: 100%;
    border-radius: 20px;
}
.video-length{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: black;
    color: white;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
}
.video-info{
    display: flex;
    vertical-align: top;
    margin-top: 8px;
    padding: 10px;
}
.channel-profile{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
.video-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 5px 0px;
    width: 350px;
    display: block;
}
.video-author {
    font-size: 14px;
    color: rgb(170, 170, 170);
    margin : 0px 0px 5px 0px;
    display: block;
}
.video-views {
    font-size: 14px;
    color: rgb(170, 170, 170);
    width: 350px;
    display: block;
    margin: 0px;
}