* {
    font-family: "Roboto", sans-serif;
    margin: 0;  
    padding: 0;
}
button{
    cursor: pointer;
}
.body-container {
    background-color: black;
    color: white;
    padding: 90px 15px 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .body-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 751px) and (max-width: 999px) {
    .body-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (min-width: 1000px) {
    .body-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
.video-container{
    display: inline-block;
    width: 100%;
    margin: 0 15px 20px 0;
    z-index: 0;
}
.video-thumbnail-container{
    position: relative;
}
.video-thumbnail {
    width: 100%;
    border-radius: 20px;
}
.video-length{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: black;
    color: white;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
}
.video-info{
    display: flex;
    vertical-align: top;
    margin-top: 8px;
    padding: 10px;
}
.channel-profile{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
.video-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 5px 0px;
    width: auto;
    display: block;
}
.video-author {
    font-size: 14px;
    color: rgb(170, 170, 170);
    margin : 0px 0px 5px 0px;
    display: block;
}
.video-views {
    font-size: 14px;
    color: rgb(170, 170, 170);
    width: auto;
    display: block;
    margin: 0px;
}